/* fonts */

/* end fonts */

/* head */

.navs {
    display: flex;
}

.cart-header {
    display: flex;
    justify-content: center;
    float: right;
    width: 30%;
    border-bottom: rgba(190, 195, 202, 0.3) solid 2px;
    border-left: #cecece 2px solid;
}

.cart-header h4 {
    font-size: 25px;
}

/* body */

.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-menu {
    width: 5%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main-menu img {
    margin: 25px auto;
    width: 30px;
    height: 30px;
}

.main-menu-history {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main-menu-history img {
    margin: 25px auto;
    width: 30px;
    height: 30px;
}

.main-content {
    background-color: skyblue;
    width: 65%;
    background-color: rgba(190, 195, 202, 0.3);
}

.item img {
    width: 250px;
}

.item-menu h5 {
    font-size: 25px;
}

.item-menu-selected::after {
    content: '';
    display: block;
    width: 90%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: url(tick.png) no-repeat;
    background-size: 50px;
    background-position: center;
    position: absolute;
    bottom: 0;
    top: 0;
}

.cart {
    display: flex;
    border-left: #cecece 1px solid;
    width: 29%;
}

.cart-empty {
    text-align: center;
}

.cart-empty p {
    color: #cecece;
}

.cart-empty img {
    margin-top: 67px;
    margin-bottom: -30px;
    width: 200px;
    height: 200px;
}

.cart-selected img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.number-add {
    background-color: rgba(130, 222, 58, 0.2);
    border: 1px solid #82DE3A;
    border-radius: 0px;
    color: #82DE3A;
    font-weight: bold;
}

.number-add-num {
    color: #82DE3A;
    border: 1px solid #82DE3A;
    font-weight: bold;
}

/* DESKTOP */

/* HISTORY PAGE */

.card-income {
    border: none;
    border-radius: 20px;
    background: linear-gradient( 285.38deg, #fbb2b4 30.05%, rgba(255, 143, 178, 0) 133.19%);
    filter: drop-shadow(10px 15px 10px rgba(255, 143, 178, 0.25));
}

.card-orders {
    border: none;
    border-radius: 20px;
    background: linear-gradient( 285.38deg, #29dfff 30.05%, rgba(41, 223, 255, 0) 133.19%);
    filter: drop-shadow(10px 15px 10px rgba(41, 223, 255, 0.25));
}

.card-years-income {
    border: none;
    border-radius: 20px;
    background: linear-gradient( 285.38deg, #ab84c8 30.05%, rgba(241, 201, 236, 0) 133.19%);
    filter: drop-shadow(10px 15px 10px rgba(241, 201, 236, 0.25));
}

.title-info {
    margin: 20px 0px;
    box-sizing: border-box;
}

.title-info p {
    font-size: 12px;
}

.title-info h3 {
    margin-top: -10px;
}

.img-bulat img {
    width: 80px;
    /* background-color: black; */
    position: absolute;
    top: 10px;
    right: 10px;
}

.bulat1 {
    margin-top: 25px;
    margin-right: 65px;
}

.bulat2 {
    margin-top: 9px;
    margin-right: 28px;
}

.chart {
    border-radius: 10px;
}