/* fonts */

/* end fonts */

/* head */
.navs {
    display: flex;
}

.cart-header {
    display: flex;
    justify-content: center;
    float: right;
    width: 30%;
    border-bottom: rgba(190, 195, 202, 0.3) solid 2px;
    border-left: #cecece 2px solid;
}    

.cart-header h4 {
    font-size: 25px;
}

/* body */
.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-menu {
    width: 5%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main-menu img {
    margin: 25px auto;
    width: 30px;
    height: 30px;
}

.main-content {
    background-color: skyblue;
    width: 65%;
    background-color: rgba(190, 195, 202, 0.3);
}

.item img {
    width: 250px;
}

.item-menu h5 {
    font-size: 25px;
}

.cart {
    display: flex;
    border-left: #cecece 1px solid;
    width: 30%;
    justify-content: center;
}

.cart-empty {
    text-align: center;
}

.cart-empty p {
    color: #cecece;
}

.cart img {
    margin-top: 67px;
    margin-bottom: -30px;
    width: 200px;
    height: 200px;
}

/* DESKTOP */
@media{min-width: ;}